
mixin guess_list(guesses, secret)
    ul 
        each guess in guesses 
            li 
                span #{guess.value} 
                if guess.value === secret 
                    span - Correct!
                else if guess.value < secret 
                    span - Too Low! 
                else 
                    span - Too High!

doctype html
html
    head
        title Guess+
    body
        block content